<% @items.each do |item| %>
<div>
  <p>商品ID<%= item.id %></p>
  <p>商品名<%= item.name %></p>
  <p>税抜価格<%= item.price %></p>
  <p>ジャンル<%#= item.genre.name %></p>
  <p>
    ステータス
    <% if item.is_active == true %>
      <span>販売中</span>
    <% else %>
      <span>>販売停止中</span>
    <% end %>
  </p>
</div>
<% end %>