<h1>商品詳細</h1>
<div>
  <%= image_tag @item.item_image, size: "290x200" %>
  <p>商品名<%= @item.name %></p>
  <p>商品説明<%= @item.introduction%></p>
  <p>ジャンル<%#= @item.genre.name %></p>
  <p>税抜価格<%= @item.price %></p>
  <p>
    販売ステータス
    <% if @item.is_active == true %>
      <span>販売中</span>
    <% else %>
      <span>>販売停止中</span>
    <% end %>
  </p>
</div>